@model Califi_restaurante.Models.tbl_Restaurantes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tbl_Restaurantes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_apertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_apertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_cierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_cierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen_item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen_item)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_restaurante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
