@model IEnumerable<Califi_restaurante.Models.tbl_Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_dato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
